.back11{
	width: 100%;
	position: absolute;
	z-index: -1;
	opacity: 0.5;
	height: 751px;
}

.back1{
	height: auto;
	position: absolute;
	opacity: 0.5;
	width: 100%;
	top: -337px;
}

.back3{
	position: absolute;
	z-index: -1;
	opacity: .5;
	width: 100%;
	height: auto;
}

#ex.show{
	left: -60px !important;
}

.img_boletin_todos{
	width: 370px;
	height: 280px;
	background-size: cover;
	background-position-y: center;
	background-repeat: no-repeat;
}

.img_ultimas{
	width: 370px;
	height: 280px;
	background-size: cover;
	background-position-y: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin-top: 1em;
}

#cuadro_sala{
	text-align: center;
}